main figure {
  width: 445px;
  float: left;
  margin-top: 5px;

}

main #similar .box {
  width: 180px;
  border: solid 1pt #e7e7e7;
  padding: 0.5em;
  margin-right: 1em;
  float: left;
}

main #similar {
  width: 150px;
  border: solid 1pt #e7e7e7;
  padding: 10px 20px;
  margin-right: 1em;
  margin-left: 1em;
  float: left;
  text-align: center;
  margin: 0 15px 0 0;
}

.button {
  background-color: lightgrey;
    background-image: linear-gradient(white, lightgrey);
     border: solid 1pt black;
     border-radius: 5px;
     color: blue;
     padding: 15px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     font-weight: bold;

     cursor: pointer;
     padding: 10px 75px;
}


ul {
  text-align: left;
  list-style-type: none;
  margin: 0px 250px;
  padding: 0;
  width: 900px;
  overflow: hidden;
  background-color: white;
}

body{
      background-image: url('stucco.png');
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div{
  list-style-type: none;
  padding: 10px;
  overflow: auto;
  font-size: 14px;
  border: 1px solid #e7e7e7;
  background-color: white;
  width: 950px;
  overflow: hidden;
}

  header{
  text-align: right;
  margin: 0px 250px;
  padding: 15px;
  width: 900px;
  background-color: Black;
  color: gray;
}

table, th, td {
  border: none;
}

a{
  color: gray;
}

h1 {
  margin: 0px 235px;
  padding: 15px;
  font-size: 50px;
}
a:link {
text-decoration: none;
}


li {
  float: left;
}

li a {
  display: block;
  color: gray;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

footer {
  text-align: center;
  margin: 0px 250px;
  padding: 5px;
  width: 900px;
  background-color: Black;
  color: gray;
}

.column {
  margin: auto;
  float: left;
  width: 225px;
  padding: 5px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
